selenium
Django==1.8.4
coverage==3.7.1
dj-database-url==0.3.0
django-crispy-forms-ng==2.0.0
django-postgrespool==0.3.0
django-storages==1.1.8
djangorestframework==3.0.4
django-jenkins==0.17.0
boto==2.34.0
gunicorn==19.1.1
pylint==1.1.0
requests==2.2.1
urllib3==1.7.1
virtualenv==1.11.4
whitenoise==1.0.6
Pillow==9.0.0
mechanize==0.2.5
suds==0.4
python-postmark>=0.4.3
pep8==1.6.2
pyflakes==0.8.1
beautifulsoup4==4.4.0




