<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Southen Delay Repay{% endblock %}</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="{% static "js/listgroup.js" %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static "css/jquery.ptTimeSelect.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/default.css" %}" />
        <script type="text/javascript" src="{% static "js/jquery.ptTimeSelect.js" %}"></script>
        <style>
			h1 {text-align:center;}
			p {text-align:center;}
            p {text-align:center;}
		</style>
        <script>
            $(function() {
                $( "#datepicker" ).datepicker({ dateFormat: "dd/mm/yy" });
                $( "#datepicker" ).datepicker( "option", $.datepicker.regional[ "en-GB" ] );
                $( "#datepicker2" ).datepicker({ dateFormat: "dd/mm/yy" });
                $( "#datepicker2" ).datepicker( "option", $.datepicker.regional[ "en-GB" ] );
            });
        </script>
        <script>
            $(function() {
                $( "#timepicker" ).ptTimeSelect();
                $( "#timepicker2" ).ptTimeSelect();
            });
        </script>
    </head>
    <body>
        <div id="page">
            <div id='sidebar'>
                {% block sidebar %}
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a id="id_addTicket" href="/addTicket">Add Ticket</a></li>
                    <li><a id="id_addFriend" href="/addFriend">Add Friend</a></li>

                </ul>
                {% endblock %}
            </div>

            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        <p>Click <a href="/logout/">here to logout</a></p>
    </body>
</html>

