<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}My Base Template{% endblock %}</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static "css/jquery.ptTimeSelect.css" %}" />
        <script type="text/javascript" src="{% static "js/jquery.ptTimeSelect.js" %}"></script>
        <script>
            $(function() {
                $( "#datepicker" ).datepicker();
                $( "#datepicker2" ).datepicker();
            });
        </script>
        <script>
            $(function() {
                $( "#timepicker" ).ptTimeSelect();
                $( "#timepicker2" ).ptTimeSelect();
            });
        </script>
    </head>
    <body>
        <div id="page">
            <div id='sidebar'>
                {% block sidebar %}
                <ul>
                    <li><a href="/admin/">Admin</a></li>
                    <li><a href="/accounts/addJourney">Add Journey</a></li>
                    <li><a href="/accounts/addTicket">Add Ticket</a></li>
                    <li><a href="/accounts/submitDelay">Submit Delay</a></li>

                </ul>
                {% endblock %}
            </div>

            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>

