{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h2 >Welcome To The Index</h2>
    <p>Select Your Journey</p>
	<div class="list-group">
	    <a href="#" class="list-group-item">Cras justo odio</a>
	    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
	    <a href="#" class="list-group-item">Morbi leo risus</a>
	    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
	    <a href="#" class="list-group-item">Vestibulum at eros</a>
	</div>

{% endblock %}

