{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <h1 >Unclaimed & Shared Delays</h1>
    <h3 >Claimable Delays</h3>
    {% for delay in unclaimed_claimable %}
        <form class="form-inline"  method="POST" action="/unclaimedDelays/">
          {% csrf_token %}
          <div class="form-group">
            <h4>{{ delay.journey.journeyName }}</h4>
              <p>From {{ delay.startTime|time:"H:i"}} To {{ delay.endTime|time:"H:i"}} On {{ delay.date|date:"d/m/Y"}}</p>
              <p>{{ delay.delay_reason}}</p>
              <input type='hidden' name="delay_Id" value="{{ delay.id}}" />
          </div>
          <button id ='id_claim_delay_{{ delay.id }}' name="claim_delay" type="submit" value='claim' class="btn-primary">Claim Delay</button>
          <button id ='id_remove_delay_{{ delay.id }}' name="remove_ticket" type="submit" value='no_ticket' class="btn-danger">Delete Delay</button>
        </form>
        <br>
    {% endfor %}

    <h3 >Delays Missing Ticket</h3>
    {% for delay in unclaimed_noTicket %}
        <form class="form-inline"  method="POST" action="/unclaimedDelays/">
          {% csrf_token %}
          <div class="form-group">
            <h4>{{ delay.journey.journeyName }}</h4>
              <p>From {{ delay.startTime|time:"H:i"}} To {{ delay.endTime|time:"H:i"}} On {{ delay.date|date:"d/m/Y"}}</p>
              <p>{{ delay.delay_reason}}</p>
              <input type='hidden' name="delay_Id" value="{{ delay.id}}" />
          </div>
          <button id ='id_submit_delay_{{ delay.id }}' name="submit" type="submit" value='submit' class="btn-primary">Add Ticket</button>
          <button id ='id_no_ticket_{{ delay.id }}' name="no_ticket" type="submit" value='no_ticket' class="btn-danger">No Ticket</button>
        </form>
        <br>
    {% endfor %}

{% endblock %}

