{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <h1 >Unclaimed & Shared Delays</h1>
    <h3 >Claimable Delays</h3>
    {% for delay in unclaimed_claimable %}
        <form class="form-inline"  method="POST" action="/unclaimedDelays/">
          {% csrf_token %}
          <div class="form-group">
            <h4>{{ delay.journey.journeyName }} At {{ delay.startTime|time:"H:i"}} On {{ delay.date|date:"d/m/Y"}}</h4>
              <input type='hidden' name="delay_Id" value="{{ delay.id}}" />
          </div>
          <button type="submit" class="btn-primary">Claim Delay</button>
        </form>
        <br>
    {% endfor %}

    <h3 >Delays Missing Ticket</h3>
    {% for delay in unclaimed_noTicket %}
        <form class="form-inline"  method="POST" action="/unclaimedDelays/">
          {% csrf_token %}
          <div class="form-group">
            <h4>{{ delay.journey.journeyName }}</h4>
              <p>At {{ delay.startTime|time:"H:i"}} On {{ delay.date|date:"d/m/Y"}}</p>
              <p>{{ delay.delay_reason}}</p>
              <input type='hidden' name="delay_Id" value="{{ delay.id}}" />
          </div>
          <button type="submit" class="btn-primary">Add Ticket</button>
        </form>
        <br>
    {% endfor %}

{% endblock %}

